:root {
  /* Core colours */
  /* https://coolors.co/palette/e63946-f1faee-a8dadc-457b9d-1d3557 */
  --colour-peppermint: #1b2218;
  --colour-cello: #506a01;

  /* Header configuration */
  --header-heading-colour: var(--colour-peppermint);

  /* Body configuration */
  --body-default-colour: var(--colour-cello);
  --body-background-colour: var(--colour-peppermint);
}

/*
  PAGE / BODY
*/
body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--body-default-colour);
  background-color: var(--body-background-colour);
}

main {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}


/****** Screen reader text utility clsas *******/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

h1 {
  margin: auto;
  background: #a8e190;
  padding: .5%;
}

.TaskDiv {
  margin-left: auto;
  margin-top: 5%;
  margin-right: auto;
  display: grid;
    grid-template-areas:
      'header header header header header header'
      'menu main main main right right'
      'menu footer footer footer footer footer';
    gap: 10%;
    background-color: #709a01;
    max-width: 500px;
padding: 8px 16px;
  }

.createTaskBtn {
  padding: 8px 16px;
  background-color: #506a01;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.taskInput {
  grid-area: header;
}

.tasksContainer {
 grid-area: main;
 color: #ffffff;
 max-width: 100px;
 word-wrap: break-word;
 margin: 1%;
}
